.person-selected{
	background-color: #1f8dd6
}
	.person-selected a { 
		color:white;
	}

/*.button-right{
	float:right;
	margin-top: 10px;
  	margin-right: 5px;
  	padding: 0px 2px;
}*/

.button-right{
	float:right;
}

.overflow {
	overflow-x:scroll; 
}

.button-small {
            font-size: 85% !important;
}	
